@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

p,
h1,
span {
  color: theme("colors.text");
}

img {
  @apply w-24 h-24 object-scale-down;
}

html,
div {
  scrollbar-width: thin;
  scrollbar-color: #b6abbe #b6abbe38; /* thumb and track color */
}

input {
  min-width: 0;
}

.gutter {
  scrollbar-gutter: stable;
}

.progress-bar {
  appearance: none;
  -webkit-appearance: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: black;
  border-radius: 0.5rem;
}

.progress-bar::-webkit-progress-value {
  background-color: #b6abbe;
  border-radius: 0.5rem;
  transition: width 0.5s; /* This line animates the progress bar */
}

.tooltip-trigger {
  position: relative;
  display: inline;
}

@media screen and (max-width: 600) {
  span,
  p,
  h1 {
    font-size: 0.8rem;
  }
}
